@page
@model SW.Pages.StationModel
@{
}

@{
    ViewData["Title"] = "Home page";
}



@* 
<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
</div>
*@

<div class="mb-3">
    <form method="post">
        <label for="userType">User Type:</label><br>
        <select id="userType" name="userType">
            <option value="POD">POD</option>
            <option value="SP">SP</option>
            <option value="NB">NB</option>
        </select><br>


        <label for="age">Age:</label><br>
        <input type="number" id="age" name="age"><br>
        <br />

        <button type="submit" class="btn btn-success">Submit</button>
    </form>

    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div>@Model.ErrorMessage</div>
    }

</div>

